<a href="https://colab.research.google.com/github/Saganero/machine-learning-bootcamp/blob/master/03_feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'1.2.2'

In [3]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

              Open     High     Low   Close    Volume
Date
2023-03-22  100.45  102.100  98.610   98.70  57475365
2023-03-21   98.14  100.845  98.000  100.61  58597275
2023-03-20   98.41   98.480  95.700   97.71  62388911
2023-03-17   99.79  100.660  97.455   98.95  87300242
2023-03-16   95.75  100.990  95.610  100.04  84558934

In [4]:
df=df_raw.copy()
df=df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2023-03-22 to 2023-03-16
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

In [5]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

              Open     High     Low   Close    Volume  day  month  year
Date
2023-03-22  100.45  102.100  98.610   98.70  57475365   22      3  2023
2023-03-21   98.14  100.845  98.000  100.61  58597275   21      3  2023
2023-03-20   98.41   98.480  95.700   97.71  62388911   20      3  2023
2023-03-17   99.79  100.660  97.455   98.95  87300242   17      3  2023
2023-03-16   95.75  100.990  95.610  100.04  84558934   16      3  2023

In [8]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [16]:
df['height_cat'] = pd.cut(x=df.height, bins = (160,175,180,195), labels = ['small','medium','high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [17]:
pd.get_dummies(df,drop_first = True, prefix = 'height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

Ekstrakcja cech

In [18]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [19]:
df['PL_flag'] = df['lang'].apply(lambda x:1 if 'PL' in x else 0)
df

                  lang  PL_flag
0            [PL, ENG]        1
1  [GER, ENG, PL, FRA]        1
2                [RUS]        0

In [21]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [28]:
new = df['website'].str.split('.', expand = True)

In [29]:
df['portal'] = new[0]
df['extension'] = new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com